#### Data Wrangling

The data set consists of monthly statistics of data across several states. For the dataset, i will need focus on time series forecasting, which can predict the total values for each state across time. i will start here by loading and cleaning the data.

##### Step 1:
- load the needed libraries

##### why?
- pandas: What it does: Pandas is a versatile library for data manipulation and analysis. It provides two main data structures: DataFrame (for tabular data) and Series (for one-dimensional data).

- Why it's needed: It is used for reading, cleaning, transforming, and summarizing data. You can perform operations like filtering rows, handling missing values, grouping data, merging datasets, and more. It's central to any data wrangling process.

In [125]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures, StandardScaler
from sklearn.pipeline import make_pipeline
import pickle
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
from sklearn.metrics import mean_squared_error, r2_score

In [126]:
data_frame = pd.read_csv("model_wrangling/livestock_sample_data copy.csv",sep='\t')

In [127]:
data_frame.isnull().sum()

Unnamed: 0     0
state_total    0
NSW_total      0
VIC_total      0
QLD_total      0
SA_total       0
WA_total       0
TAS_total      0
NT_total       7
ACT_total      0
dtype: int64

In [128]:
data_frame.duplicated().sum()

np.int64(0)

In [129]:
data_frame = data_frame.drop_duplicates()
data_frame.duplicated().sum()

np.int64(0)

In [130]:
data_frame['NT_total'].unique()

array([ nan, 28.5, 18. ,  6.9, 19.4, 34. , 25.6, 10.9, 32.9, 49.4, 27.2,
        4. , 28.4, 36.1, 16.3,  4.2, 29.4, 43.2, 21.2,  3.2, 19.7, 45.7,
       20.2,  4.5, 23.1, 29.3, 16. ,  5. , 15.9, 25.4, 15.4, 19.1, 30.2,
       17.7,  3.1, 17.5, 35.7, 19.5,  3.3, 17. , 40.4, 16.7,  2.9, 14.8,
       29.7, 17.9,  3.4, 21.9, 25.9, 14. ,  1.7, 14.6, 25.7,  6.5,  2.2,
       18.4, 21.6,  5.2,  2.1,  6.7,  2.4,  0.5,  4.3,  5.3,  0.2,  9. ,
        0.6,  3. ,  2.7,  5.5,  8.7,  0.3,  9.4,  2. ,  2.6,  5.9,  1.6,
        1.3,  3.5,  0.4,  0. ])

In [131]:
data_frame = data_frame.drop(columns='NT_total')

In [132]:
data_frame.to_csv('model_wrangling/almost_wrangled_data.csv', index=False)

it will be quite hard to graph the date column as it is so i will extract the year and month and make them a numerical value

In [133]:
data = pd.read_csv('model_wrangling/almost_wrangled_data.csv')
data.columns = ['Unnamed: 0', 'state_total', 'NSW_total', 'VIC_total', 'QLD_total', 'SA_total', 'WA_total', 'TAS_total', 'ACT_total']

# Explicitly specify the date format "%b-%Y" (Month-Year)
data["Unnamed: 0"] = pd.to_datetime(data["Unnamed: 0"], format="%b-%Y", errors="coerce")

# Check if the date parsing worked without warnings
print(data["Unnamed: 0"].head())

# Now proceed with the year and month extraction
data["DATE_NUMERIC"] = data["Unnamed: 0"].map(lambda x: x.toordinal())
data["YEAR"] = data["Unnamed: 0"].dt.year  # Extract the year
data["MONTH"] = data["Unnamed: 0"].dt.month  # Extract the month

# Check the year and month columns
print(data[["Unnamed: 0", "YEAR", "MONTH"]].head())

data.to_csv("model_wrangling/wrangled_data.csv", index=False)

0   1976-12-01
1   1977-03-01
2   1977-06-01
3   1977-09-01
4   1977-12-01
Name: Unnamed: 0, dtype: datetime64[ns]
  Unnamed: 0  YEAR  MONTH
0 1976-12-01  1976     12
1 1977-03-01  1977      3
2 1977-06-01  1977      6
3 1977-09-01  1977      9
4 1977-12-01  1977     12